input{
    font-family: var(--font-primary);
    padding: 0.5rem;
    width: 80%;
    
}
input:focus{
    outline: none;
    border-style:solid;
    border-width:2px;
    border-color: var(--third);
    border-radius:4px ;
}