h1, p {
    font-family: var(--font-primary);
}

.presentation-section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: calc(100vh - 12vh);
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background2)  ;
    justify-content: center;
}
h1{
    color: var(--primary);
    font-size: 2.5rem;
    
}
.presentation-container{
  display: flex; 
  width: 100%;
  justify-content: space-around;
  
}
.presentation-text{
    margin-top: 5rem;
    width:30%;
}
.presentation-text 
{
    margin-top: 5rem;
}
p{
    font-size: 1.2rem;
    color: var(--primary);

}
.presentation-img-container{
    width: 40%;
}
img{
    width: 100%;
    height: auto;
}
.button-container{
    display: none;
}

.home-event-btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.home-event-btn svg {
    transform-origin: center;
    transition: transform 0.3s ease;
}

.home-event-btn path {
    transition: transform 0.3s ease;
}
.home-event-btn:hover svg {
    animation: rotateArrow 1s infinite linear;
}
.home-event-btn:focus svg path {
    transform: translateX(100px);
}
@keyframes rotateArrow {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}
@media only screen and (max-width:768px) {
    
    .presentation-section {
        justify-content: space-around;
    }
    .presentation-img-container{
        display: none;
    }
    .presentation-text{
        width: 80%;
        margin: 2rem;
    }
    .auth{
        display: block;
    }
    .presentation-container{

        display: flex;
        flex-direction: column;
    }
    .button-container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 1rem;
    }
    .auth{
        display: flex;
        gap: 3rem;
    }
    h1{
        font-size: 2rem;
        text-align: center;
    }
    .presentation-text button{
        display: none;
    }
  }



