header {
display: flex;
width: 100%;
height: 12vh;
align-items: center;
justify-content: space-between;

}

.logo {
    text-align: center;
    padding-left:1rem ;
    text-decoration: none;
}

.logo p {
    font-family: var(--font-logo);
    font-size: 2.5rem;
    color: var(--primary);
}

.auth-links {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
}


@media only screen and (max-width: 768px) {
    .auth-links{
        display: none;
    }
}
