.auth-container{
    height: calc(100vh - 12vh);
    display: flex;
    justify-content: space-around;
}
.auth-container img{
    width: 40%;
}
.auth-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 2rem;  
    margin-left: 4rem;
    width: 40%; 

}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .auth-container img{
        display: none;
    }
    .auth-container form{
        width: 80%;
    }
}

