@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Asset');
:root {
  --font-primary: "Poppins", sans-serif;
  --font-logo: 'Asset', serif;
  --background: #ffffff;
  --foreground: #010404;
  --card: #ffffff;
  --card-foreground: #010404;
  --popover: #ffffff;
  --popover-foreground: #010404;
  --primary: #455e5f;
  --primary-foreground: #ffffff;
  --primary-hover: #455e5fcc;
  --secondary: #cacece;
  --secondary-foreground: #313535;
  --secondary-hover: #cacececc;
  --muted: #edf3f3;
  --muted-foreground: #494b4b;
  --accent: #aababb;
  --accent-foreground: #171c1c;
  --destructive: #c92508;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --background2: #BFEDE4;
  --third: #F4959C;
  --third-hover: #f4959bd3;
  --third-foreground: #ffffff;  
}
body{
  width: 100vw;
  margin: 0;
}