@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Asset');
:root {
  --font-primary: "Poppins", sans-serif;
  --font-logo: 'Asset', serif;
  --background: #ffffff;
  --foreground: #010404;
  --card: #ffffff;
  --card-foreground: #010404;
  --popover: #ffffff;
  --popover-foreground: #010404;
  --primary: #455e5f;
  --primary-foreground: #ffffff;
  --primary-hover: #455e5fcc;
  --secondary: #cacece;
  --secondary-foreground: #313535;
  --secondary-hover: #cacececc;
  --muted: #edf3f3;
  --muted-foreground: #494b4b;
  --accent: #aababb;
  --accent-foreground: #171c1c;
  --destructive: #c92508;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --background2: #BFEDE4;
  --third: #F4959C;
  --third-hover: #f4959bd3;
  --third-foreground: #ffffff;  
}
label{
  font-family: var(--font-primary);
}
body{
  width: 100vw;
  margin: 0;
}
input{
  font-family: var(--font-primary);
  padding: 0.5rem;

}
input:focus{
  outline: none;
  border-style:solid;
  border-width:2px;
  border-color: var(--third);
  border-radius:4px ;
}
button , a{
    
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--font-primary);
  text-decoration: none;
}
.primary {
  background-color: var(--primary);
  border: none;
  color: var(--primary-foreground);

}
.primary:hover {
    background-color: var(--primary-hover);
}

.secondary{
    background-color: var(--secondary);
    border: none;
    color: var(--secondary-foreground);
}
.secondary:hover{
    background-color: var(--secondary-hover);
}
.third{

        background-color: var(--third);
        border: none;
        color: var(--third-foreground);
      
}
.third:hover{
    background-color: var(--third-hover);
}
.outline {
    background-color: var(--background);
    color: var(--background-foreground);
    border: 2px solid var(--border);
}
.outline:hover{
    border: 2px solid var(--primary);
}

.link{
    color: var(--primary);
    border: none;
    background-color: var(--background);
}
.link:hover{
    text-decoration:  var(--primary) underline;
}

.disabled{
    cursor: default;
    border: none;
    background-color: var(--muted);

}


